@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background-color: #f9fbfb;
  --text-color: #000000;
  --border-color: #000000;
  --primary-color: #998aff;
  --secondary-color: #caff8a;
  --dark-background-color: #2d2d2d;
  --light-background-color: #eeefe9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  letter-spacing: 0%;
  max-width: 420px;
  margin: auto;
}

.container {
  background-color: #fff;
  height: 100vh;
  padding: 20px;
}

.container.dark {
  background-color: var(--dark-background-color);
  color: #fff;
}

.container.light {
  background-color: var(--light-background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dela Gothic One", "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.3;
}

p {
  line-height: 25px;
}

.btn {
  font-family: "Dela Gothic One", "Poppins", sans-serif;
  font-style: normal;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  letter-spacing: normal;
  margin-top: 20px;
}

.btn-primary {
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.secondary-btn {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
}

.secondary-btn:hover {
  background-color: var(--primary-color);
}
